<template name="Home">
	<div class="availability">
		<div class="clearfix page-title">
			<div class="bg">
			</div>
			<h3 class="pull-left">
				Availability
			</h3>
			<div class="pull-left">
				&nbsp;
				&nbsp;
				&nbsp;
				&nbsp;
			</div>
			<div class="pull-right">
				<label>
		          	<input class="icheck" id="show-on-holiday" type="checkbox"> &nbsp;&nbsp;On Holiday
		        </label>
			</div>
		</div>
		<ul class="nav nav-tabs page-tabs" role="tablist">
		    <li role="presentation" class="active">
		    	<a href="#mon" aria-controls="mon" role="tab" data-toggle="tab">Mon</a>
		    </li><!--
		    --><li role="presentation" class="">
		    	<a href="#tue" aria-controls="tue" role="tab" data-toggle="tab">Tue</a>
		    </li><!--
		    --><li role="presentation" class="">
		    	<a href="#wed" aria-controls="wed" role="tab" data-toggle="tab">Wed</a>
		    </li><!--
		    --><li role="presentation" class="">
		    	<a href="#thu" aria-controls="thu" role="tab" data-toggle="tab">Thu</a>
		    </li><!--
		    --><li role="presentation" class="">
		    	<a href="#fri" aria-controls="fri" role="tab" data-toggle="tab">Fri</a>
		    </li><!--
		    --><li role="presentation" class="">
		    	<a href="#sat" aria-controls="sat" role="tab" data-toggle="tab">Sat</a>
		    </li><!--
		    --><li role="presentation" class="">
		    	<a href="#sun" aria-controls="sun" role="tab" data-toggle="tab">Sun</a>
		    </li>
		</ul>
		<br/>
		<div class="tab-content">
			{{#each daysOfWeek}}
				<div role="tabpanel" class="tab-pane" id="{{this}}">
					<div class="container-fluid">
						<div class="container-fluid">

							{{#with dayOfWeek=this}}

								{{#each learnersOfDay}}

									{{> LearnerAvailability}}

								{{/each}}

							{{/with}}

						</div>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</template>
