<template name="New">
	<!-- <div class="new">
		<br/>
		<br/>
		<div class="row">
			<div class="col-sm-3">
				<div class="page-title">
					<h1>
						NEW <br/>LEARNER <br/>
					</h1>
					<button class="btn btn-primary btn-lg">
						&nbsp;&nbsp;SAVE&nbsp;&nbsp;
					</button>
				</div>
			</div>
			<div class="col-sm-7">
				<h4>Personal Info.</h4>
				<hr/>
				<div class="row">
					<div class="col-sm-8">
						<div class="form-group">
							<label for="firstName">First Name</label>
							<input type="text" class="form-control" id="firstName" placeholder="First Name">
						</div>
					</div>
					<div class="col-sm-8">
						<div class="form-group">
							<label for="lastName">Last Name</label>
							<input type="text" class="form-control" id="lastName" placeholder="Last Name">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8">
						<div class="form-group">
							<label for="dob">Date of Birth</label>
							<input type="text" class="form-control date-picker" id="dob" placeholder="">
						</div>
					</div>
					<div class="col-sm-8">
						<div class="form-group">
							<label for="phone">Phone</label>
							<input type="text" class="form-control" id="phone" placeholder="Phone">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-16">
						<div class="form-group">
							<label for="address">Address</label>
							<input type="text" class="form-control" id="address" placeholder="Address">
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-sm-offset-1">
				<h4>
					License
					<label class="pull-right">
			          	Aus. &nbsp;&nbsp;<input class="js-switch" id="international-license-check" type="checkbox"> &nbsp;&nbsp;Int.
			        </label>
				</h4>
				<hr/>
				<div class="row">
					<div class="col-sm-16">
						<div class="form-group">
							<label for="license-number">License Number</label>
							<input type="text" class="form-control" id="license-number" placeholder="10 digits">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-16">
						<div class="form-group">
							<label for="card-number">Card Number</label>
							<input type="text" class="form-control" id="card-number" placeholder="Check top left corner on back side of card">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-16">
						<div class="form-group">
							<label for="expiry">Expiry</label>
							<input type="text" class="form-control date-picker" id="expiry" placeholder="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<br/>
		<div class="row">
			<div class="col-sm-3">
				
			</div>
			<div class="col-sm-7">
				<h4>
					Availability
				</h4>
				<hr/>
			</div>
			<div class="col-sm-4 col-sm-offset-1">
				<h4>Lesson details</h4>
				<hr/>
				<div class="row">
					<div class="col-sm-16">
						<div class="form-group">
							<label for="pickupArea">Pick up area</label>
							<input type="text" class="form-control" id="firstName" placeholder="e.g Cabramatta">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8">
						<div class="form-group">
							<label>
					          	<input class="icheck" id="log-book-check" type="checkbox"> &nbsp;&nbsp; Log-book?
					        </label>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="form-group">
							<label>
					          	<input class="icheck" id="holiday-check" type="checkbox"> &nbsp;&nbsp; On Holiday?
					        </label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
</template>
