<template name="LearnersDetails">
	<div class="learners-details">
		<div class="new--in-progress">
			<span class="new--in-progress--message">
				Saving &hellip;
			</span>
		</div>
		<div class="clearfix page-title">
			<div class="bg">
			</div>
			<h3 class="pull-left">
				{{currentLearnerName}}
			</h3>
			<div class="pull-left">
				&nbsp;
				&nbsp;
			</div>
			<h5 class="pull-left">
				<a class="page-title--link" href="tel:{{phone}}">
					<i class="fa fa-fw fa-phone"></i>
					{{learner.phone}}
				</a>
			</h5>
			<span class="clearfix pull-right">
				<button id="save-learner" class="btn btn-primary btn-md pull-right">
					&nbsp;&nbsp;&nbsp;SAVE&nbsp;&nbsp;&nbsp;
				</button>
				<button id="reset-learner" class="btn btn-default btn-md pull-right">
					&nbsp;&nbsp;&nbsp;Reset&nbsp;&nbsp;&nbsp;
				</button>
				<button id="delete-learner" class="btn btn-danger btn-md pull-right">
					&nbsp;&nbsp;&nbsp;Delete&nbsp;&nbsp;&nbsp;
				</button>
			</span>
		</div>
		<ul class="nav nav-tabs page-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#personal-id" aria-controls="home" role="tab" data-toggle="tab">Personal Details</a></li><!--
		    --><li role="presentation" class=""><a href="#learner-availability" aria-controls="profile" role="tab" data-toggle="tab">Availability</a></li><!--
		    --><li role="presentation" class=""><a href="#lesson-history" aria-controls="lesson-history" role="tab" data-toggle="tab">Lesson History</a></li><li role="presentation" class=""><a href="#payments" aria-controls="payments" role="tab" data-toggle="tab">Payments</a></li>
		</ul>
		<br/>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="personal-id">
				<div class="container-fluid">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-8">
								<div class="clearfix"><h6>PERSONAL INFO</h6></div>
								<hr/>
								<div class="row">
									<div class="col-sm-8">
										<div class="form-group">
											<label for="fullName">Full Name</label>
											<input type="text" class="form-control" id="fullName" value="">
										</div>
									</div>
									<div class="col-sm-8">
										<div class="form-group">
											<label for="alias">Alias</label>
											<input type="text" class="form-control" id="alias" value="">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-8">
										<div class="form-group">
											<label for="dob">Date of Birth</label>
											<input type="text" class="form-control date-picker" id="dob" name="dob" value="">
										</div>
									</div>
									<div class="col-sm-8">
										<div class="form-group">
											<label for="phone">Phone</label>
											<input type="text" class="form-control" id="phone"  value="">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-8">
										<div class="form-group">
											<label for="address">Address</label>
											<input type="text" class="form-control" id="address" value="">
										</div>
									</div>
									<div class="col-sm-8">
										<div class="form-group">
											<label for="suburb">Pick-up</label>
											<input type="text" class="form-control" id="suburb" value="">
										</div>
									</div>
								</div>
								<br/>
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label>
									          	<input class="icheck" id="log-book-check" type="checkbox"> &nbsp;&nbsp; Need Log-book?
									        </label>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label>
									          	<input class="icheck" id="holiday-check" type="checkbox"> &nbsp;&nbsp; On Holiday?
									        </label>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label>
									          	<input class="icheck" id="passed" type="checkbox"> &nbsp;&nbsp; Passed
									        </label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-7 col-sm-offset-1">
								<div class="clearfix">
									<h6 class="pull-left">
										LICENSE
									</h6>
									<label class="pull-right section-header-switch">
							          	Local &nbsp;&nbsp;<input class="js-switch" id="international-license-check" type="checkbox"> &nbsp;&nbsp;Int.
							        </label>
								</div>
								<hr/>
								<div class="row">
									<div class="col-sm-16">
										<div class="form-group">
											<label for="license-number">License Number</label>
											<input type="text" class="form-control" id="license-number" value="">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-16">
										<div class="form-group">
											<label for="card-number">Card Number</label>
											<input type="text" class="form-control" id="card-number" value="">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-16">
										<div class="form-group">
											<label for="expiry">Expiry</label>
											<input type="text" class="form-control date-picker" id="expiry" name="expiry" value="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="learner-availability">
				<div class="container-fluid">
					<div class="container-fluid">
						<div class="availability-picker clearfix" id="availability-picker--mon">
							<div class="availability-picker--date-label">
								MON
							</div>
							<div class="availability-picker--time-unit-container clearfix">
							{{#each learner.availability.mon}}
								<div class="availability-picker--time-unit {{#if this.hourMark}}hour{{/if}} {{#if this.active}}active{{/if}} {{this.markerType}}" >
									<div class="availability-picker--time-unit--time-label start">
										{{this.start.hour}}:{{this.start.minute}}
									</div>
									<div class="availability-picker--time-unit--time-label default">
										{{this.start.hour}}:{{this.start.minute}}
									</div>
									<div class="availability-picker--time-unit--time-label end">
										{{this.end.hour}}:{{this.end.minute}}
									</div>
								</div>
							{{/each}}
							</div>
							<div class="availability-picker--all-day-toggle">
								<label>
						          	<input class="icheck availability-picker--all-day-toggle--input" type="checkbox" data-day-of-week="mon"> ALL-DAY
						        </label>
							</div>
						</div>
						<div class="availability-picker clearfix" id="availability-picker--tue">
							<div class="availability-picker--date-label">
								TUE
							</div>
							<div class="availability-picker--time-unit-container clearfix">
							{{#each learner.availability.tue}}
								<div class="availability-picker--time-unit {{#if this.hourMark}}hour{{/if}} {{#if this.active}}active{{/if}} {{this.markerType}}" >
									<div class="availability-picker--time-unit--time-label start">
										{{this.start.hour}}:{{this.start.minute}}
									</div>
									<div class="availability-picker--time-unit--time-label default">
										{{this.start.hour}}:{{this.start.minute}}
									</div>
									<div class="availability-picker--time-unit--time-label end">
										{{this.end.hour}}:{{this.end.minute}}
									</div>
								</div>
							{{/each}}
							</div>
							<div class="availability-picker--all-day-toggle">
								<label>
						          	<input class="icheck availability-picker--all-day-toggle--input" type="checkbox" data-day-of-week="tue"> ALL-DAY
						        </label>
							</div>
						</div>
						<div class="availability-picker clearfix" id="availability-picker--wed">
							<div class="availability-picker--date-label">
								WED
							</div>
							<div class="availability-picker--time-unit-container clearfix">
							{{#each learner.availability.wed}}
								<div class="availability-picker--time-unit {{#if this.hourMark}}hour{{/if}} {{#if this.active}}active{{/if}} {{this.markerType}}" >
									<div class="availability-picker--time-unit--time-label start">
										{{this.start.hour}}:{{this.start.minute}}
									</div>
									<div class="availability-picker--time-unit--time-label default">
										{{this.start.hour}}:{{this.start.minute}}
									</div>
									<div class="availability-picker--time-unit--time-label end">
										{{this.end.hour}}:{{this.end.minute}}
									</div>
								</div>
							{{/each}}
							</div>
							<div class="availability-picker--all-day-toggle">
								<label>
						          	<input class="icheck availability-picker--all-day-toggle--input" type="checkbox" data-day-of-week="wed"> ALL-DAY
						        </label>
							</div>
						</div>
						<div class="availability-picker clearfix" id="availability-picker--thu">
							<div class="availability-picker--date-label">
								THU
							</div>
							<div class="availability-picker--time-unit-container clearfix">
							{{#each learner.availability.thu}}
								<div class="availability-picker--time-unit {{#if this.hourMark}}hour{{/if}} {{#if this.active}}active{{/if}} {{this.markerType}}" >
									<div class="availability-picker--time-unit--time-label start">
										{{this.start.hour}}:{{this.start.minute}}
									</div>
									<div class="availability-picker--time-unit--time-label default">
										{{this.start.hour}}:{{this.start.minute}}
									</div>
									<div class="availability-picker--time-unit--time-label end">
										{{this.end.hour}}:{{this.end.minute}}
									</div>
								</div>
							{{/each}}
							</div>
							<div class="availability-picker--all-day-toggle">
								<label>
						          	<input class="icheck availability-picker--all-day-toggle--input" type="checkbox" data-day-of-week="thu"> ALL-DAY
						        </label>
							</div>
						</div>
						<div class="availability-picker clearfix" id="availability-picker--fri">
							<div class="availability-picker--date-label">
								FRI
							</div>
							<div class="availability-picker--time-unit-container clearfix">
							{{#each learner.availability.fri}}
								<div class="availability-picker--time-unit {{#if this.hourMark}}hour{{/if}} {{#if this.active}}active{{/if}} {{this.markerType}}" >
									<div class="availability-picker--time-unit--time-label start">
										{{this.start.hour}}:{{this.start.minute}}
									</div>
									<div class="availability-picker--time-unit--time-label default">
										{{this.start.hour}}:{{this.start.minute}}
									</div>
									<div class="availability-picker--time-unit--time-label end">
										{{this.end.hour}}:{{this.end.minute}}
									</div>
								</div>
							{{/each}}
							</div>
							<div class="availability-picker--all-day-toggle">
								<label>
						          	<input class="icheck availability-picker--all-day-toggle--input" type="checkbox" data-day-of-week="fri"> ALL-DAY
						        </label>
							</div>
						</div>
						<div class="availability-picker clearfix" id="availability-picker--sat">
							<div class="availability-picker--date-label">
								SAT
							</div>
							<div class="availability-picker--time-unit-container clearfix">
							{{#each learner.availability.sat}}
								<div class="availability-picker--time-unit {{#if this.hourMark}}hour{{/if}} {{#if this.active}}active{{/if}} {{this.markerType}}" >
									<div class="availability-picker--time-unit--time-label start">
										{{this.start.hour}}:{{this.start.minute}}
									</div>
									<div class="availability-picker--time-unit--time-label default">
										{{this.start.hour}}:{{this.start.minute}}
									</div>
									<div class="availability-picker--time-unit--time-label end">
										{{this.end.hour}}:{{this.end.minute}}
									</div>
								</div>
							{{/each}}
							</div>
							<div class="availability-picker--all-day-toggle">
								<label>
						          	<input class="icheck availability-picker--all-day-toggle--input" type="checkbox" data-day-of-week="sat"> ALL-DAY
						        </label>
							</div>
						</div>
						<div class="availability-picker clearfix" id="availability-picker--sun">
							<div class="availability-picker--date-label">
								SUN
							</div>
							<div class="availability-picker--time-unit-container clearfix">
							{{#each learner.availability.sun}}
								<div class="availability-picker--time-unit {{#if this.hourMark}}hour{{/if}} {{#if this.active}}active{{/if}} {{this.markerType}}" >
									<div class="availability-picker--time-unit--time-label start">
										{{this.start.hour}}:{{this.start.minute}}
									</div>
									<div class="availability-picker--time-unit--time-label default">
										{{this.start.hour}}:{{this.start.minute}}
									</div>
									<div class="availability-picker--time-unit--time-label end">
										{{this.end.hour}}:{{this.end.minute}}
									</div>
								</div>
							{{/each}}
							</div>
							<div class="availability-picker--all-day-toggle">
								<label>
						          	<input class="icheck availability-picker--all-day-toggle--input" type="checkbox" data-day-of-week="sun"> ALL-DAY
						        </label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</template>
